
body{
    margin: 0;
    padding: 0;
}

.container{

    background-image: url(imgs/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: none;
    display: flex;
    justify-content: center;
    align-items:center;
}

h1{
    font-family: 'poppins';
    color: white;
    font-size: 3em;
}