body{
    margin: 0;
    font-family: Poppins, sans-serif;
}

.container{
    display: grid;
    grid-template-rows: auto 2fr auto ;
    min-height: 100vh;
}

.bar{
    height: 50px;
    background-color: grey;
    color: white;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}