body{
    margin: 0;
    font-family: Poppins, sans-serif;
}

.bar{
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 50px;
}


.main{
    min-height: calc(100vh - 100px);
    position: relative;
}

h1{
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - (153px / 2));
}